table,
tr,
td,
th {
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
    border-color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

td {
    width: 170px;
}

th {
    background-color: #3895B8;
    color: white;
}

tr:nth-child(2n+2) {
    background-color: #FDFDFD;
}

tr:nth-child(2n+1) {
    background-color: #EFEFEF;
}

#tech:hover {
    background-color: black;
    color: white;
}

a {
    background-color: #82c400;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
}

a:hover {
    background-color: black;
}